# macOS
.DS_Store
*.swp
*.swo

# Xcode / Build
userdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.app/
*.zip

# Docker
artify-core/tmp/

# Go
artify-core/artify-core
*.exe

# Python
__pycache__/
*.pyc
.env

# Project specific
/tmp/ArtifyV2_*
*.log
